:root {
    --primary-color: #fb4300;
    --secondary-color: #2ecc71;
    --background-color: #f0f3f6;
    --text-color: #000000;
    --error-color: #3498db ;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --card-background: #ffffff;
    --card-hover-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}

.student-card {
    background-color: var(--card-background);
    border-radius: 15px;
    box-shadow: 0 5px 15px var(--box-shadow-color);
    padding: 20px;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.student-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--card-hover-shadow);
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 20px;
    left: 20px;
    box-shadow: 0 3px 10px var(--box-shadow-color);
}

.name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 120px;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.email, .grade {
    margin-left: 120px;
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 500;

    
}

.branch, .phone, .date, .grade, .address{
    display: inline-block;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.branch {
    background-color: #fb4300;
    color: white;
}

.phone {
    background-color: var(--error-color);
    color: white;
}

.date {
    background-color: var(--secondary-color);
    color: white;
}

.address {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 500;
    
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: var(--error-color);
    cursor: pointer;
    transition: transform 0.3s;
}

.delete-icon:hover {
    transform: scale(1.2);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .student-card {
        padding: 15px;